<?xml version="1.0"?>

<model>
  <name>cs137_100GBq</name>

  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
 
  <author>
    <name>Petr Stibinger</name>
    <email>stibipet@fel.cvut.cz</email>
  </author>

  <author>
    <name>Tomas Baca</name>
    <email>tomas.baca@fel.cvut.cz</email>
  </author>

  <description>
    cs137 100GBq radiation source.
  </description>
</model>
